.results-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f0e5;;
}

.results-container h2 {
  font-family: AbrilFatFace;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #3A716F;
  width: 40%;
}

.results-card-container {
  display: flex;
  flex: row;
  justify-content: space-evenly;
}

.home-button {
  font-family: Poppins-Medium;
  margin-top:10px;
  width: fit-content;
  background: #ffffff;
  color: #0d0c22;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s;
}

.home-button:hover {
  background: #0a4c4b;
  color: #f3f3f4;
}

.cat{
  height: 40%;
  width: 50%;
}

.cat-text{
  font-family: Poppins-Medium;
  color: #3A716F;
}