.main {
    background-color: #f8f0e5;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.open-error {
    font-family: Poppins-Medium;
    color: #f8f0e5;
    background-color: #3A716F;
    border: solid 3px #3A716F;
    border-radius: 80px;
    text-decoration: none;
    height: 3vh;
    width: 20vw;
    margin-top: 5px;
}

.home {
    font-family: Poppins-Medium;
    color: #f8f0e5;
    background-color: #3A716F;
    border: solid 3px #3A716F;
    border-radius: 80px;
    text-decoration: none;
    height: 3vh;
    width: 20vw;
    margin-top: 5px;
}

.open-error:hover {
    font-family: Poppins-Medium;
    font-size: large;
    color: #f8f0e5;
    background-color: #0a4c4b;
    border: solid 3px #0a4c4b;
    border-radius: 80px;
    text-decoration: none;
    height: 3.5vh;
    width: 22.5vw;
    margin: 5px;
}

.home:hover {
    font-family: Poppins-Medium;
    font-size: large;
    color: #f8f0e5;
    background-color: #0a4c4b;
    border: solid 3px #0a4c4b;
    border-radius: 80px;
    text-decoration: none;
    height: 3.5vh;
    width: 22.5vw;
    margin: 5px;
}

.main-msg {
    
}