form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.slider-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.submit-button {
  font-family: Poppins-Medium;
  color: #f8f0e5;
  background-color: #3A716F;
  border: solid 3px #3A716F;
  border-radius: 80px;
  text-decoration: none;
  height: 4vh;
  width: 18vw;
  margin: auto;
}

.submit-button:hover {
  font-family: Poppins-Medium;
  font-size: large;
  color: #f8f0e5;
  background-color: #0a4c4b;
  border: solid 3px #0a4c4b;
  border-radius: 80px;
  text-decoration: none;
  height: 5vh;
  width: 20vw;
  margin: auto;
}

.search-instructions {
  color: #3A716F;
  width: 100vw;
  height: 3vh;
  font-family: AbrilFatFace;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

input {
  width: 100%;
}

p {
  font-size: 0.8em;
  margin: 0% 0% 3% 0%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: #ffffff;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 15px;
  
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(33,74,74);
  cursor: pointer;
  border-radius: 15px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #04AA6D;
  cursor: pointer;
}