.Main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.quiz-link {
    font-family: Poppins-Medium;
    color: #f8f0e5;
    background-color: #3A716F;
    border: solid 3px #3A716F;
    border-radius: 80px;
    text-decoration: none;
    height: 3vh;
    width: 20vw;
    margin: auto;
}

.quiz-link:hover {
    font-family: Poppins-Medium;
    font-size: large;
    color: #f8f0e5;
    background-color: #0a4c4b;
    border: solid 3px #0a4c4b;
    border-radius: 80px;
    text-decoration: none;
    height: 3.5vh;
    width: 22.5vw;
    margin: auto;
}

.title {
    color: #3A716F;
    width: 100vw;
    height: 5vh;
    font-family: AbrilFatFace;
    letter-spacing: 2px;
    font-size: 4rem;
}

.brief-about {
    color: #0a4c4b;
    font-family: Poppins-Medium;
    width: 100vw;
    height: 10vh;
}

.puppy {
    height: 37vh;
    width: 37vh;
    margin: auto;
}