.results-card {
  background-color: white;
  border-radius: 0rem 3.5rem 0rem 3.5rem;
  width: 35%;
  height: fit-content;
}

.dog-portrait {
  width: 94%;
  height: 100%;
  border-radius: 0rem 3.5rem 0rem 0rem;
}

.results-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Poppins-Medium;
  font-size: 1.5rem;
  color: #0a4c4b;
}

.dog-button,
.close-modal-button {
  background: #f3f3f4;
  color: #0d0c22;
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 0rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.dog-button:hover,
.close-modal-button:hover {
  background: #0a4c4b;
  color: #f3f3f4;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  text-align-last: center;
  font-family: Poppins-Medium;
  font-size: 20px;
}

.modal img {
  width: 15vw;
}
