.results-card {
  border: 2px solid blue;
  width: 30%;
  height: fit-content;
}

.dog-portrait {
  width: 30%;
  height: 100%;
}

.results-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dog-button {
  margin-bottom: 8px;
}
