.header-container {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
}
a, img {
  padding: 5px;
  margin: 5px
}

img {
  width: 5%;
  height: 5%;
}