.footer-container {
  border: 2px solid blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  /* margin: 5px */
}

.all-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.team-link-container {
  margin-right: 10px;
}
