.resources {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f0e5;
}

.resources__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: 5vh;
}

.resources h1 {
  font-family: AbrilFatFace;
  letter-spacing: 2px;
  font-size: 4.5rem;
  color: #3A716F;
  width: 20%;
}
.resources p {
  margin: 0;
  font-family: Poppins-Medium;
  font-size: 1.5rem;
  color: #0a4c4b;
}

.resources img {
  width: 50vh;
  height: 50vh;
  margin-right: 2%;
}

.resources__text, a {
  width: 20%;
}

.resources a {
  margin: 0;
  font-family: Poppins-Medium;
  font-size: 1.6rem;
  color: #001275;
  white-space: nowrap;
}

.resources a:hover {
  margin: 0;
  font-family: Poppins-Medium;
  font-size: 1.7rem;
  color: #820495;
  
}